-*- mode:rule -*-

RULE#0 Syntax for rule keys are: "RULE#N" where N — is positive integer number.
RULE#1 New rules added but old rules don't removed. Obsoleted rules just marked with dash "-RULE".
RULE#2 RULE#A->RULE#B shows what rule A obsoleted by rule B.
RULE#3 RULE#B<-RULE#A shows that rule B obsoletes rule A.
RULE#4 Rules stored in files named as RULES or RULES.txt.

